.box{
    width: 550px;
    height: 550px;
    background-color:   rgba(249, 223, 223, 1);
    padding-top: 80px;
    padding-left: 103px;
    border:  1px red;
    box-sizing: border-box
}
.p{
    color: red;
}